<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>

<div class="container">
    <ul class="nav bg-info">
        <li class="nav-item">
            <a class="nav-link link-light" href="/">HOME</a>
        </li>
        <li class="nav-item">
            <a class="nav-link link-light" href="{% url 'classlist' %}">CLASS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link link-light" href="{% url 'courselist' %}">COURSE</a>
        <li class="nav-item">
            <a class="nav-link link-light" href="{% url 'semesterlist' %}">SEMESTER</a>
        </li>
        <li class="nav-item">
            <a class="nav-link link-light" href="{% url 'studentlist' %}">STUDENT</a>
        </li>
        <li class="nav-item">
            <a class="nav-link link-light" href="{% url 'lecturerlist' %}">LECTURER</a>
        </li>
        <li class="nav-item">
            <a class="nav-link link-light" href="{% url 'enrollmentlist' %}">ENROLLMENT</a>
        </li>
        {% if user.is_authenticated %}
            <li>
                <b>{{ user.username }}</b>
            </li>
            <li class="nav-item">
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Logout</button>
                </form>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link link-light" href="{% url 'login' %}">LOGIN</a>
            </li>
            <li class="nav-item">
                <a class="nav-link link-light" href="{% url 'register' %}">REGISTER</a>
            </li>
        {% endif %}
    </ul>

    {% block content %}
    {% endblock %}
</div>
</body>
</html>