{% extends 'Base_Nav.html' %}

{% block title %}
    {{ object.class_id }}
{% endblock %}

{% block content %}
    <h1>Class Detail Page</h1>
    <table>
    <tr>
        <th>Class ID</th>
        <td>{{ object.class_id }}</td>
    </tr>
    <tr>
        <th>Class Number</th>
        <td>{{ object.class_number }}</td>
    </tr>
    <tr>
        <th>Class Semester</th>
        <td>{{ object.class_semester }}</td>
    </tr>
    <tr>
        <th>Class Course</th>
        <td>{{ object.class_course }}</td>
    </tr>
    <tr>
        <th>Class Lecturer</th>
        <td>{{  object.class_lecturer }}</td>
    </tr>
    </table>
{% endblock %}