{% extends 'Base_Nav.html' %}

{% block title %}
    Enrollment List Page
{% endblock %}

{% block content %}
    <h1>Enrollment List Page</h1>

    <form method="POST" action="{% url 'createstudentenrollment' %}">
        {% csrf_token %}
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Student ID</th>
                <th>Class ID</th>
                <th>Enrollment Date</th>
                <th>Grade Date</th>
                <th>Grade</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>New</td>
                <td>{{ form.student_id }}</td>
                <td>{{ form.class_id }}</td>
                <td>{{ form.enrollment_date }}</td>
                <td>{{ form.grade_date }}</td>
                <td>{{ form.grade_year }}</td>
                <td>
                    <button type="submit" class="btn btn-success">Add Enrollment</button>
                </td>
            </tr>
            </tbody>
        </table>
    </form>

    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Student ID</th>
            <th scope="col">Class ID</th>
            <th scope="col">Enrollment Date</th>
            <th scope="col">Grade Date</th>
            <th scope="col">Grade</th>
            <!-- Add other fields as necessary -->
        </tr>
        </thead>
        <tbody>
        {% for enrollment in object_list %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ enrollment.student_id }}</td>
                <td>{{ enrollment.class_id }}</td>
                <td>{{ enrollment.enrollment_date }}</td>
                <td>{{ enrollment.grade_date }}</td>
                <td>{{ enrollment.grade_year }}</td>
                <td><a href="{% url 'enrollmentdetail' enrollment.student_id.student_id enrollment.class_id.class_id %}" class="btn btn-primary btn-sm">Detail</a></td>
                <td>
                    <a href="{% url 'updatestudentenrollment' enrollment.student_id.student_id enrollment.class_id.class_id %}"
                       class="btn btn-primary btn-sm">Update</a></td>
                <td>
                    <a href="{% url 'deletestudentenrollment' enrollment.student_id.student_id enrollment.class_id.class_id %}"
                       class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this?');">Delete</a>
                </td>
                <!-- Add other fields as necessary -->
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {#     <ul>#}
    {#        {% for enrollment_item in object_list %}#}
    {#        <li><a href="{% url 'enrollmentdetail' enrollment_item.student_id.student_id enrollment_item.class_id.class_id %}">{{ enrollment_item.student_id.student_id }}&{{ enrollment_item.class_id.class_id }}</a> <a href="{% url 'createstudentenrollment' %}">Create</a> <a href="{% url 'updatestudentenrollment' enrollment_item.student_id.student_id enrollment_item.class_id.class_id %}">Update</a> <a href="{% url 'deletestudentenrollment' enrollment_item.student_id.student_id enrollment_item.class_id.class_id %}">Delete</a></li>#}
    {#        {% empty %}#}
    {#            <li>No student enrollment yet</li>#}
    {#        {% endfor %}#}
    {#    </ul>#}
    
    #bottom nav section
     <nav>
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                </li>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                <li class="page-item {% if page_obj.number == num %}active{% endif %}">
                    <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                </li>
            {% endfor %}

            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                </li>
            {% endif %}
        </ul>
    </nav>
    
{% endblock %}