{% extends 'Base_Nav.html' %}

{% block title %}
    {{ class_obj.class_id }}
{% endblock %}

{% block content %}
    <h1>Class Detail Page</h1>
    <table>
    <tr>
        <th>Class ID</th>
        <td>{{ class_obj.class_id }}</td>
    </tr>
    <tr>
        <th>Class Number</th>
        <td>{{ class_obj.class_number }}</td>
    </tr>
    <tr>
        <th>Class Semester</th>
        <td>{{ class_obj.class_semester }}</td>
    </tr>
    <tr>
        <th>Class Course</th>
        <td>{{ class_obj.class_course }}</td>
    </tr>
    <tr>
        <th>Class Lecturer</th>
        <td>{{ class_obj.class_lecturer }}</td>
    </tr>
    </table>
{% endblock %}