{% extends 'Base_Nav.html' %}

{% block title %}
    Semester List Page
{% endblock %}

{% block content %}
    <h1>Semester List Page</h1>

    <form method="POST" action="{% url 'createlecturer' %}">
        {% csrf_token %}
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Semester ID</th>
                <th>Semester Name</th>
                <th>Semester Year</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>New</td>
                <td>{{ form.semester_id }}</td>
                <td>{{ form.semester_name }}</td>
                <td>{{ form.semester_year }}</td>
                <td>
                    <button type="submit" class="btn btn-success">Add Semester</button>
                </td>
            </tr>
            </tbody>
        </table>
    </form>

    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Semester ID</th>
            <th scope="col">Semester Name</th>
            <th scope="col">Semester Year</th>
        </tr>
        </thead>
        <tbody>
        {% for semester in object_list %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ semester.semester_id }}</td>
                <td>{{ semester.semester_name }}</td>
                <td>{{ semester.semester_year }}</td>
                <td><a href="{% url 'semesterdetail' semester.semester_id %}" class="btn btn-primary btn-sm">Detail</a></td>
                <td><a href="{% url 'updatesemester' semester.semester_id %}" class="btn btn-primary btn-sm">Update</a>
                </td>
                <td><a href="{% url 'deletesemester' semester.semester_id %}" class="btn btn-danger btn-sm"
                       onclick="return confirm('Are you sure you want to delete this?');">Delete</a></td>
                <!-- Add other fields as necessary -->
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {#    <ul>#}
    {#        {% for semester_item in object_list %}#}
    {#        <li><a href="{% url 'semesterdetail' semester_item.semester_id %}">{{ semester_item.semester_id }}</a> <a href="{% url 'createsemester' %}">Create</a> <a href="{% url 'updatesemester' semester_item.semester_id %}">Update</a> <a href="{% url 'deletesemester' semester_item.semester_id %}">Delete</a></li>#}
    {#        {% empty %}#}
    {#            <li>No semester scheduled yet</li>#}
    {#        {% endfor %}#}
    {#    </ul>#}
    
    #bottom nav section
     <nav>
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                </li>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                <li class="page-item {% if page_obj.number == num %}active{% endif %}">
                    <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                </li>
            {% endfor %}

            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                </li>
            {% endif %}
        </ul>
    </nav>
    
{% endblock %}